input {
    width: 500px;
    height: 34px;
    background-color: white;
    border-radius: 18px;
    padding-left: 8px;
}

select {
    width: 140px;
    height: 30px;
    background-color: #5a3434;
    border-radius: 10px;
    padding-left: 15px;
    margin-top: 15px;
    color: ghostwhite;


}
.transaction-item {
    display: flex;
    background-color: white;
    color: black;
    width: 540px;
    height: 60px;
    margin-top: 30px;
    border-radius: 15px;
    padding: 1px;
  
  }
  
  .high-line {
    border-right:4px solid red ;
    margin-left: 220px;
    border-radius: 8px;
  }
  
  .medium-line {
    border-right: 6px solid green;
    margin-left:220px;
  }
  .del-btn {
    width: 70px;
    height: 30px;
    border-radius: 12px;
    margin-left: 482px;

  }
  